Source: logix
Section: python
Priority: extra
Maintainer: Juliano Martinez <juliano.martinez@locaweb.com.br>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: https://github.com/locaweb/logix

Package: logix
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-kombu (>= 1.4.3), python-gevent (>= 0.13.6), python-supay
Description: Syslog to Graylog2 gelf enqueuer 
 Simple tool that sends syslog flows to Graylog2 through kombu
